html { 
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body { 
    margin: 0; 
    padding: 0; 
}

section#all { 
    margin: 0 auto; 
}

section#all nav { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky; 
    top: 0; 
    background-color: #111c61;
    z-index: 8;
}

section#all>nav>div.cta { 
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

section#all>nav>div.cta a:link{ 
    text-decoration: none;
    color: #fff; 
}

section#all>nav>div.cta a:visited{ 
    color: #fff; 
}

section#all>nav>div.logo {
    width: 10vw; 
    height: 4vw;  
    border: solid 10px #111c61;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;

}

section#all>nav>div.logo h2 { 
    margin-top: 0.2rem; 
    color: #fff; 
    font-size: 2vw;
    text-align: center;
    filter: drop-shadow(#000 0.1rem 0.1rem 0.1rem);
    justify-content: center;
}

section#all>nav>div.logo a:link { 
    color: #fff;
    text-decoration: none;
     
}

section#all>nav>div.logo a:visited { 
    color: #fff; 
}

section#welcome { 
    width: 100%;
    height: 48.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

section#welcome>div#welcometext { 
    width: 75%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#welcometext>h1 { 
    font-size: 7vw;
    margin-bottom: 0rem;

    color: #111c61;
}

div#welcometext>h3 { 
    color: #111c61;
}
